{%- render 'inline-scripts', script_name: 'visibility-watcher' -%}

<div
  class="password section section--hero"
  data-section-id="{{ section.id }}"
  data-section-type="password"
>
  <div
    class="section-inner section-inner--width-{{ section.settings.width }}"
    style="{% render 'settings-section-padding' %}"
  >
    {% liquid
      if section.settings.enable_text_animation
        assign content_animation_class = ' animation-content'
      endif
    %}
    {%- capture content -%}
      {% for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'email-form' -%}
            <div class="password__section-block--email-form {{- content_animation_class }}">
              {% render 'newsletter-form', form_id: 'password-newsletter' %}
            </div>

          {%- when 'share' -%}
            <div class="password__section-block--share {{- content_animation_class }}">
              {% render 'social-share',
                enable_os_sharing: block.settings.enable_os_sharing,
                title: shop.name,
                text: shop.description
              %}
            </div>

          {%- when 'social-icons' -%}
            <div class="password__section-block--social-icons {{- content_animation_class }}">
              {% render 'social-icons' %}
            </div>

          {%- when 'password-message' -%}
            {% unless shop.password_message == blank %}
              {% liquid
                capture text_size_class
                  render 'settings-text-size', type: 'text', size: block.settings.text_font_size
                endcapture

                assign text_class = 'password__section-block--password-message content-block content-block--text ff-body rte ' | append: text_size_class

                if section.settings.enable_text_animation
                  assign text_class = text_class | append: ' animation-content'
                endif
              -%}

              <div class="{{ text_class }}" {{ block.shopify_attributes }}>
                {{ shop.password_message }}
              </div>
            {% endunless %}

          {%- else -%}
            {% render 'content-block',
              block: block,
              animate_heading: section.settings.enable_text_animation,
              animate_text: section.settings.enable_text_animation,
              animate_image: section.settings.enable_text_animation,
              animate_divider: section.settings.enable_text_animation,
              forloop: forloop,
              alignment: 'center'
            %}
        {%- endcase -%}
      {%- endfor -%}
    {%- endcapture -%}

    {%- capture footer_content -%}
      {%- if section.settings.show_powered_by_shopify -%}
        <div class="password__content-footer stack {%- if section.settings.enable_text_animation %} animation-content {%- endif %}">
          {% capture shopify %}
            <a
              class="shopify-link"
              href="//www.shopify.com"
              rel="nofollow"
              target="_blank"
              aria-describedby="a11y-new-window-message"
              aria-label="Shopify"
            >
              <svg
                class="icon icon-shopify"
                viewBox="0 0 150 43"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path fill="currentColor" d="M33.3 8.9s0-.2-.1-.3c-.1-.1-.2-.1-.2-.1l-3.4-.2-2.1-2.1c-.1-.1-.2-.1-.3-.1l-1.8 36.1L38 39.5 33.3 8.9Zm-7.5-3-.9.3c-.6-1.6-1.3-2.8-2.3-3.5-.7-.5-1.5-.7-2.3-.6l-.6-.6c-.9-.7-2.1-.9-3.6-.3C11.8 2.7 10 8.3 9.3 11l-3.8 1.1s-.9.2-1.1.5c-.2.3-.3 1-.3 1L.9 37.9l23.6 4.4L26.3 6c-.2-.2-.4-.1-.5-.1Zm-5.7 1.7L16 8.9c.5-2.1 1.6-4.3 3.6-5.1.4 1 .5 2.5.5 3.8Zm-3.5-5.2c.9-.3 1.6-.3 2.1 0-2.7 1.2-3.9 4.3-4.4 6.9l-3.3 1c.7-2.5 2.3-6.7 5.6-7.9Zm2.3 17.9c-.2-.1-.4-.2-.7-.3-.3-.1-.5-.2-.8-.3-.3-.1-.6-.1-1-.2h-1.1c-.3 0-.6.1-.9.2-.3.1-.5.2-.7.4-.2.2-.3.4-.4.6-.1.2-.2.5-.2.7 0 .2 0 .4.1.6l.3.6.6.6c.2.2.5.4.8.6.5.3.9.6 1.4 1 .5.4.9.8 1.2 1.3.4.5.7 1 .9 1.7.2.6.3 1.3.3 2.1-.1 1.2-.3 2.3-.8 3.2-.4.9-1.1 1.6-1.8 2.1s-1.6.8-2.5.9c-.9.1-1.9.1-2.8-.2-.5-.1-.9-.3-1.3-.4l-1.2-.6c-.3-.2-.7-.4-.9-.6-.3-.2-.5-.4-.7-.7L7.8 30c.2.2.4.3.7.5.3.2.6.4.9.5.3.2.7.3 1 .5.4.1.7.2 1.1.3h.8c.2-.1.5-.2.6-.3.2-.1.3-.3.4-.5.1-.2.1-.4.2-.7 0-.2 0-.5-.1-.7-.1-.2-.2-.4-.3-.7-.1-.2-.3-.4-.6-.7-.2-.2-.5-.5-.9-.7-.4-.3-.8-.6-1.2-1-.3-.4-.7-.7-.9-1.2-.2-.4-.4-.9-.6-1.4-.1-.5-.2-1-.2-1.6 0-1 .2-1.8.6-2.6.3-.8.8-1.5 1.4-2.2.6-.6 1.3-1.2 2.2-1.6.9-.4 1.8-.7 2.9-.9.5-.1 1-.1 1.4-.1.5 0 .9 0 1.3.1s.8.1 1.1.2l.9.3-1.6 4.8Zm2.6-13.1v-.5c0-1.3-.2-2.4-.5-3.2.3 0 .6.1.9.3.8.5 1.3 1.6 1.7 2.8l-2.1.6ZM45.3 29.6c.9.5 2.5 1.1 4.1 1.1 1.4 0 2.2-.8 2.2-1.7 0-.9-.5-1.5-2.1-2.4-1.9-1.1-3.3-2.6-3.3-4.6 0-3.5 3-6 7.4-6 1.9 0 3.4.4 4.2.8l-1.2 3.5c-.7-.3-1.8-.7-3.1-.7-1.4 0-2.3.6-2.3 1.7 0 .8.7 1.4 1.9 2 2 1.1 3.6 2.6 3.6 4.7 0 4-3.2 6.2-7.7 6.1-2.1 0-4-.6-4.9-1.2l1.2-3.3Zm12.4 4.5 4.9-25.2h5l-1.9 9.8h.1c1.3-1.6 3.1-2.7 5.3-2.7 2.6 0 4.1 1.7 4.1 4.5 0 .9-.1 2.2-.4 3.3l-2 10.3h-5l1.9-9.9c.1-.7.2-1.5.2-2.2 0-1.1-.4-1.8-1.6-1.8-1.6 0-3.3 2-4 5.3l-1.7 8.7h-4.9v-.1ZM93.3 23c0 6.1-4 11.4-9.9 11.4-4.5 0-6.9-3.1-6.9-6.9 0-6 4-11.4 10-11.4 4.7 0 6.8 3.3 6.8 6.9Zm-11.7 4.3c0 1.8.7 3.2 2.4 3.2 2.7 0 4.1-4.7 4.1-7.7 0-1.5-.6-3-2.4-3-2.6.1-4.1 4.7-4.1 7.5Zm10.5 13.8L95.6 23c.4-2 .8-4.7 1-6.6h4.4l-.3 2.8h.1c1.3-1.9 3.3-3 5.3-3 3.7 0 5.2 2.9 5.2 6.3 0 6-3.9 12.1-9.7 12.1-1.2 0-2.4-.5-2.9-.5h-.1l-1.4 7h-5.1Zm7.2-11.2c.5.4 1.2.7 2.1.7 2.8 0 4.7-4.6 4.7-7.8 0-1.3-.5-2.7-2-2.7-1.7 0-3.4 2-4 5.1l-.8 4.7Zm12.2 4.2 3.4-17.7h5.1l-3.4 17.7h-5.1Zm6.5-19.6c-1.4 0-2.4-1.1-2.4-2.6 0-1.6 1.3-2.9 2.9-2.9 1.5 0 2.5 1.1 2.5 2.6 0 1.8-1.4 2.9-3 2.9Zm2.9 19.6 2.7-14h-2.3l.7-3.7h2.3l.1-.8c.4-2.1 1.2-4.2 2.9-5.6 1.3-1.1 3.1-1.6 4.9-1.6 1.2 0 2.1.2 2.7.4l-1 3.9c-.4-.1-.9-.3-1.6-.3-1.7 0-2.7 1.5-3 3.2l-.2.8h3.5l-.7 3.7h-3.5l-2.7 14h-4.8Zm18-17.7.8 7.9c.2 1.8.4 3.3.4 4.2h.1c.4-.9.8-2.3 1.5-4.2l3.1-7.9h5.2l-6.1 13.1c-2.2 4.5-4.3 7.7-6.6 9.9-1.8 1.7-3.9 2.5-4.9 2.7l-1.4-4.2c.8-.3 1.9-.7 2.8-1.4 1.2-.8 2.1-1.9 2.7-3 .1-.3.2-.5.1-1.9l-3-15.2h5.3Z"/>
              </svg>
            </a>
          {% endcapture %}

          <span class="content-footer__shopify cluster fs-body-75">
            {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}
          </span>
        </div>
      {%- endif -%}
    {%- endcapture -%}

    {% render 'banner',
      local_settings: section.settings,
      image: section.settings.image,
      mobile_image: section.settings.mobile_image,
      banner_height_type: 'custom',
      banner_width: section.settings.width,
      image_animation: section.settings.image_animation,
      content: content,
      content_max_width: section.settings.content_max_width,
      content_alignment: 'center_center',
      mobile_content_alignment: 'center_center',
      footer_content: footer_content
    %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main_password.name",
  "enabled_on": {
    "templates": [
      "password"
    ]
  },
  "limit": 1,
  "settings": [
    {
      "type": "header",
      "content": "t:shared.settings.background_image.header.content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:shared.settings.background_image.image.label"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "t:shared.settings.background_image.mobile_image.label"
    },
    {
      "type": "header",
      "content": "t:sections.main_password.settings.layout.header.content"
    },
    {
      "type": "select",
      "id": "custom_desktop_height",
      "label": "t:sections.main_password.settings.layout.desktop_height.label",
      "options": [
        {
          "group": "t:shared.settings.custom_height.options.fixed.group",
          "value": "250px",
          "label": "t:shared.settings.custom_height.options.fixed.250px"
        },
        {
          "group": "t:shared.settings.custom_height.options.fixed.group",
          "value": "350px",
          "label": "t:shared.settings.custom_height.options.fixed.350px"
        },
        {
          "group": "t:shared.settings.custom_height.options.fixed.group",
          "value": "450px",
          "label": "t:shared.settings.custom_height.options.fixed.450px"
        },
        {
          "group": "t:shared.settings.custom_height.options.fixed.group",
          "value": "550px",
          "label": "t:shared.settings.custom_height.options.fixed.550px"
        },
        {
          "group": "t:shared.settings.custom_height.options.fixed.group",
          "value": "650px",
          "label": "t:shared.settings.custom_height.options.fixed.650px"
        },
        {
          "group": "t:shared.settings.custom_height.options.fixed.group",
          "value": "750px",
          "label": "t:shared.settings.custom_height.options.fixed.750px"
        },
        {
          "group": "t:shared.settings.custom_height.options.relative.group",
          "value": "50vh",
          "label": "t:shared.settings.custom_height.options.relative.50vh"
        },
        {
          "group": "t:shared.settings.custom_height.options.relative.group",
          "value": "60vh",
          "label": "t:shared.settings.custom_height.options.relative.60vh"
        },
        {
          "group": "t:shared.settings.custom_height.options.relative.group",
          "value": "70vh",
          "label": "t:shared.settings.custom_height.options.relative.70vh"
        },
        {
          "group": "t:shared.settings.custom_height.options.relative.group",
          "value": "80vh",
          "label": "t:shared.settings.custom_height.options.relative.80vh"
        },
        {
          "group": "t:shared.settings.custom_height.options.relative.group",
          "value": "90vh",
          "label": "t:shared.settings.custom_height.options.relative.90vh"
        },
        {
          "group": "t:shared.settings.custom_height.options.relative.group",
          "value": "100vh",
          "label": "t:shared.settings.custom_height.options.relative.100vh"
        }
      ],
      "default": "100vh"
    },
    {
      "type": "select",
      "id": "custom_mobile_height",
      "label": "t:sections.main_password.settings.layout.mobile_height.label",
      "options": [
        {
          "group": "t:shared.settings.custom_height.options.fixed.group",
          "value": "150px",
          "label": "t:shared.settings.custom_height.options.fixed.150px"
        },
        {
          "group": "t:shared.settings.custom_height.options.fixed.group",
          "value": "250px",
          "label": "t:shared.settings.custom_height.options.fixed.250px"
        },
        {
          "group": "t:shared.settings.custom_height.options.fixed.group",
          "value": "350px",
          "label": "t:shared.settings.custom_height.options.fixed.350px"
        },
        {
          "group": "t:shared.settings.custom_height.options.fixed.group",
          "value": "450px",
          "label": "t:shared.settings.custom_height.options.fixed.450px"
        },
        {
          "group": "t:shared.settings.custom_height.options.fixed.group",
          "value": "550px",
          "label": "t:shared.settings.custom_height.options.fixed.550px"
        },
        {
          "group": "t:shared.settings.custom_height.options.fixed.group",
          "value": "650px",
          "label": "t:shared.settings.custom_height.options.fixed.650px"
        },
        {
          "group": "t:shared.settings.custom_height.options.fixed.group",
          "value": "750px",
          "label": "t:shared.settings.custom_height.options.fixed.750px"
        },
        {
          "group": "t:shared.settings.custom_height.options.relative.group",
          "value": "50vh",
          "label": "t:shared.settings.custom_height.options.relative.50vh"
        },
        {
          "group": "t:shared.settings.custom_height.options.relative.group",
          "value": "60vh",
          "label": "t:shared.settings.custom_height.options.relative.60vh"
        },
        {
          "group": "t:shared.settings.custom_height.options.relative.group",
          "value": "70vh",
          "label": "t:shared.settings.custom_height.options.relative.70vh"
        },
        {
          "group": "t:shared.settings.custom_height.options.relative.group",
          "value": "80vh",
          "label": "t:shared.settings.custom_height.options.relative.80vh"
        },
        {
          "group": "t:shared.settings.custom_height.options.relative.group",
          "value": "90vh",
          "label": "t:shared.settings.custom_height.options.relative.90vh"
        },
        {
          "group": "t:shared.settings.custom_height.options.relative.group",
          "value": "100vh",
          "label": "t:shared.settings.custom_height.options.relative.100vh"
        }
      ],
      "default": "100vh"
    },
    {
      "type": "header",
      "content": "t:sections.main_password.settings.content.header.content"
    },
    {
      "type": "range",
      "id": "content_max_width",
      "min": 200,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "label": "t:shared.settings.max_width.content.label",
      "default": 500,
      "info": "t:shared.settings.max_width.info"
    },
    {
      "type": "header",
      "content": "t:sections.main_password.settings.footer.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_powered_by_shopify",
      "label": "t:sections.main_password.settings.footer.show_powered_by_shopify.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:shared.settings.overlay.header.content"
    },
    {
      "type": "color_scheme",
      "id": "overlay_color_scheme",
      "label": "t:shared.settings.color_scheme.label",
      "default": "scheme_4"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "t:shared.settings.overlay.overlay_opacity.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 20,
      "info": "t:shared.settings.overlay.overlay_opacity.info"
    },
    {
      "type": "header",
      "content": "t:shared.settings.animation.header.content"
    },
    {
      "type": "checkbox",
      "id": "enable_text_animation",
      "label": "t:shared.settings.animation.text.enable_text_animation.label",
      "default": true
    },
    {
      "type": "select",
      "id": "image_animation",
      "label": "t:shared.settings.animation.image.label",
      "options": [
        {
          "value": "none",
          "label": "t:shared.settings.animation.image.options.none"
        },
        {
          "value": "fade",
          "label": "t:shared.settings.animation.image.options.fade"
        },
        {
          "value": "iris",
          "label": "t:shared.settings.animation.image.options.iris"
        }
      ],
      "default": "iris"
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_settings.header.content"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:shared.settings.section_settings.width.label",
      "options": [
        {
          "value": "page-width",
          "label": "t:shared.settings.section_settings.width.options.page_width"
        },
        {
          "value": "full-width",
          "label": "t:shared.settings.section_settings.width.options.full_width"
        },
        {
          "value": "full-width-padded",
          "label": "t:shared.settings.section_settings.width.options.full_width_padded"
        }
      ],
      "default": "full-width"
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "t:shared.settings.section_settings.top_padding.label",
      "min": 0,
      "max": 120,
      "step": 10,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "t:shared.settings.section_settings.bottom_padding.label",
      "min": 0,
      "max": 120,
      "step": 10,
      "unit": "px",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:shared.content_blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:shared.content_blocks.text.settings.text.label",
          "default": "t:sections.main_password.blocks.text.default"
        },
        {
          "type": "range",
          "id": "text_font_size",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "t:shared.settings.text_size.label_text",
          "info": "t:shared.settings.text_size.info",
          "default": 3
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:shared.content_blocks.heading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:shared.content_blocks.heading.settings.heading.label",
          "default": "t:shared.content_blocks.heading.settings.heading.default"
        },
        {
          "type": "range",
          "id": "heading_font_size",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "t:shared.settings.text_size.label_heading",
          "info": "t:shared.settings.text_size.info",
          "default": 8
        },
        {
          "id": "heading_tag",
          "type": "select",
          "label": "t:shared.settings.heading_tag.label",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "info": "t:shared.settings.heading_tag.info",
          "default": "h2"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:shared.content_blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:shared.content_blocks.image.settings.image.label"
        },
        {
          "type": "range",
          "id": "image_size",
          "label": "t:shared.content_blocks.image.settings.image_size.label",
          "info": "t:shared.content_blocks.image.settings.image_size.info",
          "min": 50,
          "max": 1000,
          "step": 10,
          "unit": "px",
          "default": 500
        },
        {
          "type": "range",
          "id": "image_size_mobile",
          "label": "t:shared.content_blocks.image.settings.image_size_mobile.label",
          "info": "t:shared.content_blocks.image.settings.image_size_mobile.info",
          "min": 50,
          "max": 1000,
          "step": 10,
          "unit": "px",
          "default": 250
        },
        {
          "type": "checkbox",
          "id": "enable_corner_radius",
          "default": true,
          "label": "t:shared.settings.image_rounding.enable_corner_radius.label",
          "info": "t:shared.settings.image_rounding.enable_corner_radius.info"
        }
      ]
    },
    {
      "type": "divider",
      "name": "t:shared.content_blocks.divider.name",
      "settings": [
        {
          "type": "range",
          "id": "thickness",
          "label": "t:shared.content_blocks.divider.settings.thickness.label",
          "min": 1,
          "max": 5,
          "step": 1,
          "unit": "px",
          "default": 1
        },
        {
          "type": "header",
          "content": "t:shared.content_blocks.divider.settings.desktop_spacing.header.content"
        },
        {
          "type": "range",
          "id": "space_above",
          "label": "t:shared.content_blocks.divider.settings.space_above.label",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "space_below",
          "label": "t:shared.content_blocks.divider.settings.space_below.label",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default": 20
        },
        {
          "type": "header",
          "content": "t:shared.content_blocks.divider.settings.mobile_spacing.header.content"
        },
        {
          "type": "range",
          "id": "space_above_mobile",
          "label": "t:shared.content_blocks.divider.settings.space_above.label",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "space_below_mobile",
          "label": "t:shared.content_blocks.divider.settings.space_below.label",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default": 20
        }
      ]
    },
    {
      "type": "spacer",
      "name": "t:shared.content_blocks.spacer.name",
      "settings": [
        {
          "type": "range",
          "id": "space",
          "label": "t:shared.content_blocks.spacer.settings.space.label",
          "min": 1,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default": 40
        },
        {
          "type": "range",
          "id": "space_mobile",
          "label": "t:shared.content_blocks.spacer.settings.space_mobile.label",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 40
        }
      ]
    },
    {
      "type": "overline",
      "name": "t:shared.content_blocks.overline.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "t:shared.content_blocks.overline.settings.text.label",
          "default": "t:shared.content_blocks.overline.settings.text.default"
        }
      ]
    },
    {
      "type": "password-message",
      "name": "t:sections.main_password.blocks.password_message.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main_password.blocks.password_message.settings.paragraph.content"
        },
        {
          "type": "range",
          "id": "text_font_size",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "t:shared.settings.text_size.label_text",
          "info": "t:shared.settings.text_size.info",
          "default": 3
        }
      ]
    },
    {
      "type": "email-form",
      "name": "t:sections.main_password.blocks.email_form.name",
      "limit": 1
    },
    {
      "type": "social-icons",
      "name": "t:sections.main_password.blocks.social_icons.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main_password.blocks.social_icons.settings.paragraph.content"
        }
      ]
    },
    {
      "type": "share",
      "name": "t:shared.social_sharing.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:shared.social_sharing.settings.paragraph_1.content"
        },
        {
          "type": "paragraph",
          "content": "t:shared.social_sharing.settings.paragraph_2.content"
        },
        {
          "type": "checkbox",
          "id": "enable_os_sharing",
          "label": "t:shared.social_sharing.settings.enable_os_sharing.label",
          "info": "t:shared.social_sharing.settings.enable_os_sharing.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.main_password.name",
      "blocks": [
        {
          "type": "heading",
          "settings": {
            "heading": "Opening Soon",
            "heading_font_size": 3
          }
        },
        {
          "type": "text"
        },
        {
          "type": "email-form"
        }
      ]
    }
  ]
}
{% endschema %}
