<div
  class="reset-password section"
  data-section-id="{{ section.id }}"
  data-section-type="reset-password"
  style="{% render 'settings-section-padding' %}"
>
  <div class="section-inner section-inner--width-narrow">
    <header class="reset-password__header ta-c">
      <h1 class="reset-password__heading ff-heading fs-heading-display-3">
        {{ 'customer.reset_password.title' | t }}
      </h1>
      <p class="reset-password__subheading fs-body-100">{{ 'customer.reset_password.subtext' | t: email: email }}</p>
    </header>

    {% assign form_id = 'ResetPassword' %}
    {% form 'reset_customer_password', class: 'reset-password__form stack', id: form_id %}
      <div class="reset-password__password">
        <label for="{{ form_id }}-password">{{ 'customer.reset_password.password' | t }}</label>
        <input
          type="password"
          value=""
          name="customer[password]"
          id="{{ form_id }}-password"
          class="input"
        >
      </div>

      <div class="reset-password__password-confirmation">
        <label for="{{ form_id }}-password_confirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
        <input
          type="password"
          value=""
          name="customer[password_confirmation]"
          id="{{ form_id }}-password_confirmation"
          class="input"
        >
      </div>

      {% render 'form-status', form: form, form_id: form_id %}

      {% assign submit_label = 'customer.reset_password.submit' | t -%}
      {% render 'button',
        label: submit_label,
        class: 'reset-password__button',
        button_width: 'full',
        linkless_type: 'submit',
        require_link: false
      %}
    {% endform %}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main_reset_password.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:shared.settings.section_settings.header.content"
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "t:shared.settings.section_settings.top_padding.label",
      "min": 0,
      "max": 120,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "t:shared.settings.section_settings.bottom_padding.label",
      "min": 0,
      "max": 120,
      "step": 10,
      "unit": "px",
      "default": 50
    }
  ]
}
{% endschema %}
