{%- liquid
  render 'inline-scripts', script_name: 'password-header'

  capture logo_position
    case section.settings.layout
      when 'logo-left'
        echo 'left'
      when 'logo-center'
        echo 'center'
    endcase
  endcapture

  capture header_classlist
    echo 'password-header password-header--logo-position-[[lp]]' | replace: '[[lp]]', logo_position
  endcapture
-%}

<password-header-wrapper
  data-section-id="{{ section.id }}"
  data-section-type="password-header"
  data-enable-transparent-header="{{ section.settings.enable_transparent }}"
  style="
    --logo-width: {{ section.settings.logo_width }}px;
    --logo-width-mobile: {{ section.settings.logo_width_mobile }}px;
    --color-background: {{ section.settings.color_scheme.settings.background }};
    --color-text: {{ section.settings.color_scheme.settings.text }};
    {% # TODO: Reference alpha-10 text color for button hover %}
    {% if section.settings.color_scheme.settings.background_gradient != blank and section.settings.enable_transparent == false -%}
      background: {{ section.settings.color_scheme.settings.background_gradient }};
    {%- endif %}
  "
>
  <header class="{{ header_classlist }}">
    <div class="password-header__content">
      <div class="password-header__content-segment password-header__content-segment--spacer"></div>

      <div class="password-header__content-segment password-header__content-segment--logo">
        {% render 'header-logo',
          logo: section.settings.logo,
          logo_width: section.settings.logo_width,
          logo_width_mobile: section.settings.logo_width_mobile
        %}
      </div>

      <div class="password-header__content-segment password-header__content-segment--password">
        <a class="password-link" href="#" js-password-login-trigger>
          {% render 'icon-editorial', icon: 'payment-security-padlock', class: 'password-link__icon' %}
          <span class="password-link__text">
            {{ 'general.password_page.password_link' | t }}
          </span>
        </a>

        {% liquid
          assign input_label = 'general.password_page.login_form_password_placeholder' | t
          assign submit_label = 'general.password_page.login_form_submit' | t
          assign log_in_label = 'general.password_page.admin_link' | t
        %}

        {% capture modal_content %}
          <div class="password-unlock stack">
            <div class="password-unlock__text fs-body-100">{{ 'general.password_page.login_form_heading' | t }}</div>

            {% form 'storefront_password', class: 'password-unlock__form', id: 'password' %}
              <div class="password-unlock__login-form stack">
                {% render 'input-text',
                  id: "password-input",
                  name: 'password',
                  label: input_label,
                  input_type: 'password',
                  class: 'password-unlock__login-form-input',
                  placeholder: input_label,
                  label_type: 'internal',
                %}

                {% render 'button',
                  label: submit_label,
                  linkless_type: 'submit',
                  require_link: false
                %}
              </div>

              {%- if form.errors -%}
                <div class="notification-display error-display">{{ form.errors | default_errors }}</div>
              {%- endif -%}
            {% endform %}

            <div class="password-unlock__admin cluster">
              <span>{{ 'general.password_page.admin_message' | t }}</span>
              {% render 'button', label: log_in_label, link: '/admin', button_style: 'text', underlined: true %}
            </div>
          </div>
        {% endcapture %}

        {% render 'modal',
          name: 'passwordLogin',
          content: modal_content,
          color: 'popup-modal',
          class: 'modal password-modal',
          close_button: true,
          backdrop: true,
          backdrop_dismiss: true,
          scroll_lock: true
        %}
      </div>
    </div>
  </header>
</password-header-wrapper>

<script>
  // Set heading height at component level
  const header = document.querySelector('header')
  document.documentElement.style.setProperty('--header-height', header.offsetHeight + 'px')
</script>

{% schema %}
{
  "name": "t:sections.password_header.name",
  "class": "password-header-section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:shared.settings.color_scheme.label",
      "default": "scheme_1"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:sections.password_header.settings.general.layout.label",
      "options": [
        {
          "value": "logo-center",
          "label": "t:sections.password_header.settings.general.layout.options.logo_center"
        },
        {
          "value": "logo-left",
          "label": "t:sections.password_header.settings.general.layout.options.logo_left"
        }
      ],
      "default": "logo-center"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.password_header.settings.general.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "label": "t:sections.password_header.settings.general.logo_width.label",
      "min": 20,
      "max": 350,
      "step": 5,
      "unit": "px",
      "default": 120
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "label": "t:sections.password_header.settings.general.mobile_logo_width.label",
      "min": 20,
      "max": 250,
      "step": 5,
      "unit": "px",
      "default": 90
    },
    {
      "type": "header",
      "content": "t:sections.password_header.settings.transparent_header.header.content",
      "info": "t:sections.password_header.settings.transparent_header.header.info"
    },
    {
      "type": "checkbox",
      "id": "enable_transparent",
      "label": "t:sections.password_header.settings.transparent_header.enable_transparent.label",
      "default": false
    }
  ]
}
{% endschema %}
