{% if section.blocks.size > 0 -%}
  {{ 'component-popups.css' | asset_url | stylesheet_tag }}
  {%- render 'inline-scripts', script_name: 'popup-block' -%}

  <popups-section
    class="popups"
    data-section-id="{{ section.id }}"
    data-section-type="popup"
  >
    {% for block in section.blocks -%}
      {% liquid
        # Only allow on certain pages if show_on_specific_page is enabled
        if block.settings.show_on_specific_page and block.settings.target_page != blank and block.settings.target_page != request.path
          # Allow merchants to view and edit popup in customizer
          unless request.design_mode
            continue
          endunless
        endif

        # Only show to not logged in visitors if disable_for_account_holders is enabled
        if block.settings.disable_for_account_holders and customer
          # Allow merchants to view and edit popup in customizer
          unless request.design_mode
            continue
          endunless
        endif

        assign type = block.type | split: '_' | first
        assign is_signup = block.type | split: '_' | last

        if block.settings.delay_appearance == blank
          assign delay = 'timer_0' | split: '_'
        else
          assign delay = block.settings.delay_appearance | split: '_'
        endif

        assign delay_type = delay | first
        assign delay_value = delay | last
        assign frequency = block.settings.frequency | default: 0

        if block.settings.image != blank and block.settings.enable_image != false
          assign has_image = true
        else
          assign has_image = false
        endif

        case block.settings.image_size
          when 'small'
            assign image_size = '175px'
            assign sizes = '(min-width: 720px) 620px, calc(100vw - 24px)'
          when 'medium'
            assign image_size = '250px'
            assign sizes = '(min-width: 720px) 720px, calc(100vw - 24px)'
          when 'large'
            assign image_size = '325px'
            assign sizes = '(min-width: 720px) 820px, calc(100vw - 24px)'
        endcase

        assign form_submitted = false
      -%}

      {% capture popup_content %}
        <div class="popup__content {%- if has_image %} popup__content--has-image {%- endif %}" style="--content-alignment: {{ block.settings.content_alignment }};">
          {% if has_image %}
            {% render 'image',
              class: 'popup__image',
              image: block.settings.image,
              object_fit: 'cover',
              sizes: sizes,
              include_placeholder: false,
              animate: true,
            %}
          {% endif %}

          <div class="popup__text-container">
            {% unless block.settings.overline == blank -%}
              <div class="popup__overline ff-overline fs-overline">
                {{ block.settings.overline }}
              </div>
            {%- endunless %}

            {% unless block.settings.heading == blank -%}
              {% liquid
                capture heading_font_class
                  render 'settings-text-size', type: 'heading', size: block.settings.heading_font_size
                endcapture
              -%}

              <h3 class="popup__heading ff-heading {{ heading_font_class }} rte">
                {{ block.settings.heading }}
              </h3>
            {%- endunless %}

            {% unless block.settings.text == blank -%}
              {% liquid
                capture text_font_class
                  render 'settings-text-size', type: 'text', size: block.settings.text_font_size
                endcapture
              -%}

              <div class="popup__text ff-body {{ text_font_class }} rte">
                {{ block.settings.text }}
              </div>
            {%- endunless %}

            {% if is_signup == 'signup' -%}
              {% assign form_id = block.id | append: '-signup' %}
              {% render 'newsletter-form', form_id: form_id, form_tags: block.settings.tags %}
              {% comment %} TODO: Make sure the final changes to the success state are working here. {% endcomment %}

            {%- elsif block.settings.button_label != blank -%}
              {% render 'button',
                label: block.settings.button_label,
                wrapper_class: 'popup__button',
                link: block.settings.button_link,
                button_width: 'full'
              -%}
            {%- endif %}

            {% if block.settings.dismiss_text != blank and form_submitted != true -%}
              {% render 'button',
                label: block.settings.dismiss_text,
                wrapper_class: 'popup__dismiss-button',
                button_attributes: 'js-dismiss-button',
                button_style: 'text',
                button_alignment: block.settings.content_alignment,
                underlined: true,
                require_link: false,
                linkless_type: 'button'
              -%}
            {%- endif %}

            {% unless block.settings.footer_text == blank -%}
              <div class="popup__footer-text ff-body fs-body-60 rte t-opacity-70">
                {{ block.settings.footer_text }}
              </div>
            {%- endunless %}
          </div>
        </div>
      {% endcapture %}

      {% liquid
        assign popup_name = block.id
        assign position = block.settings.flyout_position | split: '_' | first
        assign orientation = block.settings.flyout_position | split: '_' | last
        assign aria_label = block.settings.heading | default: block.settings.text | default: popup_name

        capture modal_classes
          echo 'popup '
          echo 'popup--flyout-position-[[pos]] ' | replace: '[[pos]]', position
          echo 'popup--flyout-orientation-[[ori]]' | replace: '[[ori]]', orientation
        endcapture
      %}

      <popup-block
        data-id="{{ popup_name }}"
        data-popup-type="{{ type }}"
        data-delay-type="{{ delay_type }}"
        data-delay-value="{{ delay_value }}"
        data-hour-frequency="{{ frequency }}"
        data-show-on-exit-intent="{{ block.settings.show_on_exit_intent }}"
        data-is-signup="{% if is_signup == 'signup' %}true{% else %}false{% endif %}"
        style="
          {% render 'color-scheme-to-vars', color_scheme: block.settings.color_scheme %}
          --image-size: {{ image_size }};
        "
        {{ block.shopify_attributes }}
      >
        {%- render 'modal',
          name: popup_name,
          content: popup_content,
          class: modal_classes,
          close_button: true,
          backdrop: false,
          backdrop_dismiss: false,
          scroll_lock: false,
          aria_label: aria_label
        -%}
        {% if is_signup == 'signup' and block.settings.enable_tab -%}
          <div
            class="
              {%- liquid
                echo 'popup__tab '

                if block.settings.enable_tab
                  echo 'popup__tab--enabled '
                endif

                assign tab_position = block.settings.tab_position | split: '_' | first
                assign tab_orientation = block.settings.tab_position | split: '_' | last
                echo 'popup__tab--position-[[tp]] ' | replace: '[[tp]]', tab_position
                echo 'popup__tab--orientation-[[tp]] ' | replace: '[[tp]]', tab_orientation
              -%}
            "
            data-id="{{ block.id }}"
            js-popup-tab
            style="{% render 'color-scheme-to-vars', color_scheme: block.settings.tab_color_scheme %}"
          >
            <div class="popup__tab-inner">
              {% liquid
                capture tab_text_font_class
                  render 'settings-text-size', type: 'text', size: block.settings.text_font_size_tab
                endcapture
              -%}

              <button type="button" class="popup__tab-button ff-body {{ tab_text_font_class }} rte" js-popup-tab-button>
                {{ block.settings.tab_text }}
              </button>

              <button
                type="button"
                class="popup__tab-dismiss btn btn--style-inline-icon"
                js-dismiss-tab
                aria-label="{{ 'general.accessibility.close_modal' | t }}"
              >
                {%- render 'icon-utility', icon: 'cross', width: 16, height: 16 -%}
              </button>
            </div>
          </div>
        {%- endif %}
      </popup-block>
    {%- endfor %}
  </popups-section>
{%- endif %}

{% schema %}
{
  "name": "t:sections.popups.name",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.popups.settings.intro.paragraph.content"
    },
    {
      "type": "paragraph",
      "content": "t:sections.popups.settings.intro.paragraph_2.content"
    }
  ],
  "blocks": [
    {
      "type": "flyout",
      "name": "t:sections.popups.blocks.flyout.name",
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:shared.settings.color_scheme.label",
          "default": "scheme_1"
        },
        {
          "type": "header",
          "content": "t:sections.popups.blocks.shared.settings.behavior.header.content"
        },
        {
          "type": "select",
          "id": "delay_appearance",
          "label": "t:sections.popups.blocks.shared.settings.behavior.delay_appearance.label",
          "options": [
            {
              "value": "timer_0",
              "label": "t:sections.popups.blocks.shared.settings.behavior.delay_appearance.options.immediate"
            },
            {
              "value": "timer_3000",
              "label": "t:sections.popups.blocks.shared.settings.behavior.delay_appearance.options.3s"
            },
            {
              "value": "timer_10000",
              "label": "t:sections.popups.blocks.shared.settings.behavior.delay_appearance.options.10s"
            },
            {
              "value": "timer_30000",
              "label": "t:sections.popups.blocks.shared.settings.behavior.delay_appearance.options.30s"
            },
            {
              "value": "timer_60000",
              "label": "t:sections.popups.blocks.shared.settings.behavior.delay_appearance.options.1m"
            },
            {
              "value": "timer_120000",
              "label": "t:sections.popups.blocks.shared.settings.behavior.delay_appearance.options.2m"
            },
            {
              "value": "scroll_25",
              "label": "t:sections.popups.blocks.shared.settings.behavior.delay_appearance.options.scroll25"
            },
            {
              "value": "scroll_50",
              "label": "t:sections.popups.blocks.shared.settings.behavior.delay_appearance.options.scroll50"
            },
            {
              "value": "scroll_75",
              "label": "t:sections.popups.blocks.shared.settings.behavior.delay_appearance.options.scroll75"
            },
            {
              "value": "scroll_100",
              "label": "t:sections.popups.blocks.shared.settings.behavior.delay_appearance.options.scroll100"
            }
          ],
          "default": "timer_30000"
        },
        {
          "type": "select",
          "id": "frequency",
          "label": "t:sections.popups.blocks.shared.settings.behavior.frequency.label",
          "options": [
            {
              "value": "100000",
              "label": "t:sections.popups.blocks.shared.settings.behavior.frequency.options.once"
            },
            {
              "value": "1",
              "label": "t:sections.popups.blocks.shared.settings.behavior.frequency.options.1"
            },
            {
              "value": "6",
              "label": "t:sections.popups.blocks.shared.settings.behavior.frequency.options.6"
            },
            {
              "value": "12",
              "label": "t:sections.popups.blocks.shared.settings.behavior.frequency.options.12"
            },
            {
              "value": "24",
              "label": "t:sections.popups.blocks.shared.settings.behavior.frequency.options.24"
            },
            {
              "value": "76",
              "label": "t:sections.popups.blocks.shared.settings.behavior.frequency.options.76"
            },
            {
              "value": "168",
              "label": "t:sections.popups.blocks.shared.settings.behavior.frequency.options.168"
            },
            {
              "value": "336",
              "label": "t:sections.popups.blocks.shared.settings.behavior.frequency.options.336"
            },
            {
              "value": "0",
              "label": "t:sections.popups.blocks.shared.settings.behavior.frequency.options.no_limit"
            }
          ],
          "default": "100000"
        },
        {
          "type": "checkbox",
          "id": "show_on_exit_intent",
          "label": "t:sections.popups.blocks.shared.settings.behavior.show_on_exit_intent.label",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "disable_for_account_holders",
          "label": "t:sections.popups.blocks.shared.settings.behavior.disable_for_account_holders.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_on_specific_page",
          "label": "t:sections.popups.blocks.shared.settings.behavior.show_on_specific_page.label",
          "default": false
        },
        {
          "type": "url",
          "id": "target_page",
          "label": "t:sections.popups.blocks.shared.settings.behavior.target_page.label"
        },
        {
          "type": "header",
          "content": "t:sections.popups.blocks.flyout.settings.content.header.content"
        },
        {
          "type": "text",
          "id": "overline",
          "label": "t:sections.popups.blocks.flyout.settings.content.overline.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.popups.blocks.flyout.settings.content.heading.label",
          "default": "Announce your promotion"
        },
        {
          "type": "range",
          "id": "heading_font_size",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "t:shared.settings.text_size.label_heading",
          "info": "t:shared.settings.text_size.info",
          "default": 2
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.popups.blocks.flyout.settings.content.text.label",
          "default": "<p>You also get free shipping. Use code PROMO</p>"
        },
        {
          "type": "range",
          "id": "text_font_size",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "t:shared.settings.text_size.label_text",
          "info": "t:shared.settings.text_size.info",
          "default": 3
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.popups.blocks.flyout.settings.content.button_link.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.popups.blocks.flyout.settings.content.button_label.label",
          "default": "Start shopping"
        },
        {
          "type": "text",
          "id": "dismiss_text",
          "label": "t:sections.popups.blocks.flyout.settings.content.dismiss_text.label",
          "default": "No thanks"
        },
        {
          "type": "richtext",
          "id": "footer_text",
          "label": "t:sections.popups.blocks.flyout.settings.content.footer_text.label",
          "default": "<p>* optional footer note</p>"
        },
        {
          "type": "header",
          "content": "t:sections.popups.blocks.shared.settings.layout.header.content"
        },
        {
          "type": "select",
          "id": "flyout_position",
          "label": "t:sections.popups.blocks.shared.settings.layout.flyout_position.label",
          "info": "t:sections.popups.blocks.shared.settings.layout.flyout_position.info",
          "options": [
            {
              "value": "left_center",
              "label": "t:sections.popups.blocks.shared.settings.layout.flyout_position.options.left_center",
              "group": "t:sections.popups.blocks.shared.settings.layout.flyout_position.group.sides"
            },
            {
              "value": "left_bottom",
              "label": "t:sections.popups.blocks.shared.settings.layout.flyout_position.options.left_bottom",
              "group": "t:sections.popups.blocks.shared.settings.layout.flyout_position.group.sides"
            },
            {
              "value": "right_center",
              "label": "t:sections.popups.blocks.shared.settings.layout.flyout_position.options.right_center",
              "group": "t:sections.popups.blocks.shared.settings.layout.flyout_position.group.sides"
            },
            {
              "value": "right_bottom",
              "label": "t:sections.popups.blocks.shared.settings.layout.flyout_position.options.right_bottom",
              "group": "t:sections.popups.blocks.shared.settings.layout.flyout_position.group.sides"
            },
            {
              "value": "bottom_left",
              "label": "t:sections.popups.blocks.shared.settings.layout.flyout_position.options.bottom_left",
              "group": "t:sections.popups.blocks.shared.settings.layout.flyout_position.group.bottom"
            },
            {
              "value": "bottom_center",
              "label": "t:sections.popups.blocks.shared.settings.layout.flyout_position.options.bottom_center",
              "group": "t:sections.popups.blocks.shared.settings.layout.flyout_position.group.bottom"
            },
            {
              "value": "bottom_right",
              "label": "t:sections.popups.blocks.shared.settings.layout.flyout_position.options.bottom_right",
              "group": "t:sections.popups.blocks.shared.settings.layout.flyout_position.group.bottom"
            }
          ],
          "default": "right_center"
        },
        {
          "type": "text_alignment",
          "id": "content_alignment",
          "label": "t:sections.popups.blocks.shared.settings.layout.content_alignment.label"
        },
        {
          "type": "header",
          "content": "t:sections.popups.blocks.shared.settings.image.header.content"
        },
        {
          "type": "checkbox",
          "id": "enable_image",
          "label": "t:sections.popups.blocks.shared.settings.image.enable_image.label",
          "info": "t:sections.popups.blocks.shared.settings.image.enable_image.info",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.popups.blocks.shared.settings.image.image.label"
        },
        {
          "type": "select",
          "id": "image_size",
          "label": "t:sections.popups.blocks.shared.settings.image.image_size.label",
          "options": [
            {
              "value": "small",
              "label": "t:sections.popups.blocks.shared.settings.image.image_size.options.small"
            },
            {
              "value": "medium",
              "label": "t:sections.popups.blocks.shared.settings.image.image_size.options.medium"
            },
            {
              "value": "large",
              "label": "t:sections.popups.blocks.shared.settings.image.image_size.options.large"
            }
          ],
          "default": "small"
        }
      ]
    },
    {
      "type": "flyout_signup",
      "name": "t:sections.popups.blocks.flyout_signup.name",
      "settings": [
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:shared.settings.color_scheme.label",
          "default": "scheme_1"
        },
        {
          "type": "header",
          "content": "t:sections.popups.blocks.shared.settings.behavior.header.content"
        },
        {
          "type": "select",
          "id": "delay_appearance",
          "label": "t:sections.popups.blocks.shared.settings.behavior.delay_appearance.label",
          "options": [
            {
              "value": "timer_0",
              "label": "t:sections.popups.blocks.shared.settings.behavior.delay_appearance.options.immediate"
            },
            {
              "value": "timer_3000",
              "label": "t:sections.popups.blocks.shared.settings.behavior.delay_appearance.options.3s"
            },
            {
              "value": "timer_10000",
              "label": "t:sections.popups.blocks.shared.settings.behavior.delay_appearance.options.10s"
            },
            {
              "value": "timer_30000",
              "label": "t:sections.popups.blocks.shared.settings.behavior.delay_appearance.options.30s"
            },
            {
              "value": "timer_60000",
              "label": "t:sections.popups.blocks.shared.settings.behavior.delay_appearance.options.1m"
            },
            {
              "value": "timer_120000",
              "label": "t:sections.popups.blocks.shared.settings.behavior.delay_appearance.options.2m"
            },
            {
              "value": "scroll_25",
              "label": "t:sections.popups.blocks.shared.settings.behavior.delay_appearance.options.scroll25"
            },
            {
              "value": "scroll_50",
              "label": "t:sections.popups.blocks.shared.settings.behavior.delay_appearance.options.scroll50"
            },
            {
              "value": "scroll_75",
              "label": "t:sections.popups.blocks.shared.settings.behavior.delay_appearance.options.scroll75"
            },
            {
              "value": "scroll_100",
              "label": "t:sections.popups.blocks.shared.settings.behavior.delay_appearance.options.scroll100"
            }
          ],
          "default": "timer_30000"
        },
        {
          "type": "select",
          "id": "frequency",
          "label": "t:sections.popups.blocks.shared.settings.behavior.frequency.label",
          "options": [
            {
              "value": "100000",
              "label": "t:sections.popups.blocks.shared.settings.behavior.frequency.options.once"
            },
            {
              "value": "1",
              "label": "t:sections.popups.blocks.shared.settings.behavior.frequency.options.1"
            },
            {
              "value": "6",
              "label": "t:sections.popups.blocks.shared.settings.behavior.frequency.options.6"
            },
            {
              "value": "12",
              "label": "t:sections.popups.blocks.shared.settings.behavior.frequency.options.12"
            },
            {
              "value": "24",
              "label": "t:sections.popups.blocks.shared.settings.behavior.frequency.options.24"
            },
            {
              "value": "76",
              "label": "t:sections.popups.blocks.shared.settings.behavior.frequency.options.76"
            },
            {
              "value": "168",
              "label": "t:sections.popups.blocks.shared.settings.behavior.frequency.options.168"
            },
            {
              "value": "336",
              "label": "t:sections.popups.blocks.shared.settings.behavior.frequency.options.336"
            },
            {
              "value": "0",
              "label": "t:sections.popups.blocks.shared.settings.behavior.frequency.options.no_limit"
            }
          ],
          "default": "100000"
        },
        {
          "type": "checkbox",
          "id": "show_on_exit_intent",
          "label": "t:sections.popups.blocks.shared.settings.behavior.show_on_exit_intent.label",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "disable_for_account_holders",
          "label": "t:sections.popups.blocks.shared.settings.behavior.disable_for_account_holders.label",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_on_specific_page",
          "label": "t:sections.popups.blocks.shared.settings.behavior.show_on_specific_page.label",
          "default": false
        },
        {
          "type": "url",
          "id": "target_page",
          "label": "t:sections.popups.blocks.shared.settings.behavior.target_page.label"
        },
        {
          "type": "header",
          "content": "t:sections.popups.blocks.flyout_signup.settings.content.header.content"
        },
        {
          "type": "text",
          "id": "overline",
          "label": "t:sections.popups.blocks.flyout_signup.settings.content.overline.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.popups.blocks.flyout_signup.settings.content.heading.label",
          "default": "Join us"
        },
        {
          "type": "range",
          "id": "heading_font_size",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "t:shared.settings.text_size.label_heading",
          "info": "t:shared.settings.text_size.info",
          "default": 3
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.popups.blocks.flyout_signup.settings.content.text.label",
          "default": "<p>Signup and get 10% off your first purchase</p>"
        },
        {
          "type": "range",
          "id": "text_font_size",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "t:shared.settings.text_size.label_text",
          "info": "t:shared.settings.text_size.info",
          "default": 3
        },
        {
          "type": "text",
          "id": "dismiss_text",
          "label": "t:sections.popups.blocks.flyout_signup.settings.content.dismiss_text.label",
          "default": "No thanks"
        },
        {
          "type": "richtext",
          "id": "footer_text",
          "label": "t:sections.popups.blocks.flyout_signup.settings.content.footer_text.label",
          "default": "<p>By completing this form, you are signing up to receive our emails and can unsubscribe at any time.</p>"
        },
        {
          "type": "text",
          "id": "tags",
          "label": "t:sections.popups.blocks.flyout_signup.settings.content.tags.label",
          "info": "t:sections.popups.blocks.flyout_signup.settings.content.tags.info",
          "default": "newsletter"
        },
        {
          "type": "header",
          "content": "t:sections.popups.blocks.shared.settings.layout.header.content"
        },
        {
          "type": "select",
          "id": "flyout_position",
          "label": "t:sections.popups.blocks.shared.settings.layout.flyout_position.label",
          "info": "t:sections.popups.blocks.shared.settings.layout.flyout_position.info",
          "options": [
            {
              "value": "left_center",
              "label": "t:sections.popups.blocks.shared.settings.layout.flyout_position.options.left_center",
              "group": "t:sections.popups.blocks.shared.settings.layout.flyout_position.group.sides"
            },
            {
              "value": "left_bottom",
              "label": "t:sections.popups.blocks.shared.settings.layout.flyout_position.options.left_bottom",
              "group": "t:sections.popups.blocks.shared.settings.layout.flyout_position.group.sides"
            },
            {
              "value": "right_center",
              "label": "t:sections.popups.blocks.shared.settings.layout.flyout_position.options.right_center",
              "group": "t:sections.popups.blocks.shared.settings.layout.flyout_position.group.sides"
            },
            {
              "value": "right_bottom",
              "label": "t:sections.popups.blocks.shared.settings.layout.flyout_position.options.right_bottom",
              "group": "t:sections.popups.blocks.shared.settings.layout.flyout_position.group.sides"
            },
            {
              "value": "bottom_left",
              "label": "t:sections.popups.blocks.shared.settings.layout.flyout_position.options.bottom_left",
              "group": "t:sections.popups.blocks.shared.settings.layout.flyout_position.group.bottom"
            },
            {
              "value": "bottom_center",
              "label": "t:sections.popups.blocks.shared.settings.layout.flyout_position.options.bottom_center",
              "group": "t:sections.popups.blocks.shared.settings.layout.flyout_position.group.bottom"
            },
            {
              "value": "bottom_right",
              "label": "t:sections.popups.blocks.shared.settings.layout.flyout_position.options.bottom_right",
              "group": "t:sections.popups.blocks.shared.settings.layout.flyout_position.group.bottom"
            }
          ],
          "default": "right_center"
        },
        {
          "type": "text_alignment",
          "id": "content_alignment",
          "label": "t:sections.popups.blocks.shared.settings.layout.content_alignment.label"
        },
        {
          "type": "header",
          "content": "t:sections.popups.blocks.shared.settings.image.header.content"
        },
        {
          "type": "checkbox",
          "id": "enable_image",
          "label": "t:sections.popups.blocks.shared.settings.image.enable_image.label",
          "info": "t:sections.popups.blocks.shared.settings.image.enable_image.info",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.popups.blocks.shared.settings.image.image.label"
        },
        {
          "type": "select",
          "id": "image_size",
          "label": "t:sections.popups.blocks.shared.settings.image.image_size.label",
          "options": [
            {
              "value": "small",
              "label": "t:sections.popups.blocks.shared.settings.image.image_size.options.small"
            },
            {
              "value": "medium",
              "label": "t:sections.popups.blocks.shared.settings.image.image_size.options.medium"
            },
            {
              "value": "large",
              "label": "t:sections.popups.blocks.shared.settings.image.image_size.options.large"
            }
          ],
          "default": "small"
        },
        {
          "type": "header",
          "content": "t:sections.popups.blocks.flyout_signup.settings.sticky_tab.header.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.popups.blocks.flyout_signup.settings.sticky_tab.paragraph.content"
        },
        {
          "type": "checkbox",
          "id": "enable_tab",
          "label": "t:sections.popups.blocks.flyout_signup.settings.sticky_tab.enable_tab.label",
          "default": true
        },
        {
          "type": "text",
          "id": "tab_text",
          "label": "t:sections.popups.blocks.flyout_signup.settings.sticky_tab.tab_text.label",
          "default": "Get 10% Off"
        },
        {
          "type": "range",
          "id": "text_font_size_tab",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "t:shared.settings.text_size.label_text",
          "info": "t:shared.settings.text_size.info",
          "default": 4
        },
        {
          "type": "select",
          "id": "tab_position",
          "label": "t:sections.popups.blocks.flyout_signup.settings.sticky_tab.tab_position.label",
          "options": [
            {
              "value": "left_center",
              "label": "t:sections.popups.blocks.flyout_signup.settings.sticky_tab.tab_position.options.left_center",
              "group": "t:sections.popups.blocks.flyout_signup.settings.sticky_tab.tab_position.group.sides"
            },
            {
              "value": "left_bottom",
              "label": "t:sections.popups.blocks.flyout_signup.settings.sticky_tab.tab_position.options.left_bottom",
              "group": "t:sections.popups.blocks.flyout_signup.settings.sticky_tab.tab_position.group.sides"
            },
            {
              "value": "right_center",
              "label": "t:sections.popups.blocks.flyout_signup.settings.sticky_tab.tab_position.options.right_center",
              "group": "t:sections.popups.blocks.flyout_signup.settings.sticky_tab.tab_position.group.sides"
            },
            {
              "value": "right_bottom",
              "label": "t:sections.popups.blocks.flyout_signup.settings.sticky_tab.tab_position.options.right_bottom",
              "group": "t:sections.popups.blocks.flyout_signup.settings.sticky_tab.tab_position.group.sides"
            },
            {
              "value": "bottom_left",
              "label": "t:sections.popups.blocks.flyout_signup.settings.sticky_tab.tab_position.options.bottom_left",
              "group": "t:sections.popups.blocks.flyout_signup.settings.sticky_tab.tab_position.group.bottom"
            },
            {
              "value": "floating_bottom-left",
              "label": "t:sections.popups.blocks.flyout_signup.settings.sticky_tab.tab_position.options.bottom_left_floating",
              "group": "t:sections.popups.blocks.flyout_signup.settings.sticky_tab.tab_position.group.bottom"
            },
            {
              "value": "bottom_center",
              "label": "t:sections.popups.blocks.flyout_signup.settings.sticky_tab.tab_position.options.bottom_center",
              "group": "t:sections.popups.blocks.flyout_signup.settings.sticky_tab.tab_position.group.bottom"
            },
            {
              "value": "bottom_right",
              "label": "t:sections.popups.blocks.flyout_signup.settings.sticky_tab.tab_position.options.bottom_right",
              "group": "t:sections.popups.blocks.flyout_signup.settings.sticky_tab.tab_position.group.bottom"
            },
            {
              "value": "floating_bottom-right",
              "label": "t:sections.popups.blocks.flyout_signup.settings.sticky_tab.tab_position.options.bottom_right_floating",
              "group": "t:sections.popups.blocks.flyout_signup.settings.sticky_tab.tab_position.group.bottom"
            }
          ],
          "default": "right_bottom"
        },
        {
          "type": "color_scheme",
          "id": "tab_color_scheme",
          "label": "t:shared.settings.color_scheme.label",
          "default": "scheme_1"
        }
      ]
    }
  ]
}
{% endschema %}
