{%- liquid
  echo 'component-video-section.css' | asset_url | stylesheet_tag
  render 'inline-scripts', script_name: 'visibility-watcher'

  assign aspect_ratio = section.settings.aspect_ratio
  assign requires_template = false
  assign video_type = section.settings.video_source

  if video_type == 'video'
    assign video = section.settings.video
    assign poster_image = video.preview_image

    if section.settings.mobile_video != blank
      assign requires_template = true
    endif

    if video == blank
      assign video_type = 'none'

      if section.settings.aspect_ratio == 'natural'
        assign aspect_ratio = 'landscape-wide'
      endif
    endif
  else
    assign video = section.settings.external_video_url
    assign poster_image = section.settings.external_video_poster

    if video == blank
      assign video_type = 'none'
    endif

    if section.settings.aspect_ratio == 'natural'
      assign aspect_ratio = 'landscape-wide'
    endif
  endif
-%}

<video-section
  class="section"
  data-video-type="{{ video_type }}"
  data-requires-template="{{ requires_template }}"
  style="
    {% render 'settings-section-padding' %}
    {%- # TODO: Can we be selective about which color variables to update? -%}
    {% render 'color-scheme-to-vars', color_scheme: section.settings.color_scheme %}
  "
>
  <div class="section-inner section-inner--width-{{ section.settings.width }}">
    <div class="video-section__inner">
      {%- capture content_blocks -%}
        <div class="video-section__content-blocks-wrapper">
          <div class="video-section__content-blocks" style="--max-content-width: {{ section.settings.content_max_width }}px;">
            {%- render 'content-blocks', blocks: section.blocks, alignment: section.settings.content_alignment, animate_heading: true -%}
          </div>
        </div>
      {%- endcapture -%}

      {%- liquid
        if section.settings.content_position == 'above'
          echo content_blocks
        endif
      -%}

      <visibility-watcher data-watch-child-selector="[js-video-wrapper]">
        <div class="video-section__video-wrapper animating-image-wrap" js-video-wrapper>
          {%- unless video_type == 'none' -%}
            {%- capture video_display -%}
              {%- render 'video-player',
                video_type: video_type,
                video: video,
                show_poster: true,
                poster_image: poster_image,
                media_aspect_ratio: aspect_ratio,
                focal_point: section.settings.video_focal_point,
                allow_crop: true,
                video_width: section.settings.width,
                placeholder_name: 'hero-apparel-2'
              -%}
            {%- endcapture -%}

            {%- if video_type == 'video' and section.settings.mobile_video != blank -%}
              {%- capture mobile_video_display -%}
                {%- render 'video-player',
                  video_type: video_type,
                  video: section.settings.mobile_video,
                  show_poster: true,
                  poster_image: section.settings.mobile_video.preview_image,
                  media_aspect_ratio: section.settings.mobile_aspect_ratio,
                  focal_point: section.settings.mobile_video_focal_point,
                  allow_crop: true,
                  video_width: section.settings.width,
                  placeholder_name: 'hero-apparel-2'
                -%}
              {%- endcapture -%}

              <template id="video-template-{{ section.id }}" js-video-template>
                {{ video_display }}
              </template>

              <template id="mobile-video-template-{{ section.id }}" js-mobile-video-template>
                {{ mobile_video_display }}
              </template>

              <div class="current-video-wrapper" js-current-video-wrapper></div>
            {%- else -%}
              {{ video_display }}
            {%- endif -%}
          {%- else -%}
            <div class="video-section__video-placeholder" data-aspect-ratio="{{ aspect_ratio }}">
              {%- render 'image',
                image: poster_image,
                src_set_type: 'full-width',
                include_placeholder: true,
                object_fit: 'cover',
                aspect_ratio: aspect_ratio
              -%}
            </div>
          {%- endunless -%}

          {% render 'animating-image-revealer', type: 'iris' %}
        </div>
      </visibility-watcher>

      {%- liquid
        if section.settings.content_position == 'below'
          echo content_blocks
        endif
      -%}
    </div>
  </div>
</video-section>

{% schema %}
{
  "name": "t:sections.video.name",
  "disabled_on": {
    "groups": [
      "header",
      "custom.overlay"
    ]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:shared.settings.color_scheme.label",
      "default": "scheme_1"
    },
    {
      "type": "radio",
      "id": "video_source",
      "label": "t:sections.video.settings.video_source.label",
      "options": [
        {
          "value": "video",
          "label": "t:sections.video.settings.video_source.options.shopify"
        },
        {
          "value": "external_video",
          "label": "t:sections.video.settings.video_source.options.external"
        }
      ],
      "default": "external_video"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.shopify_hosted_video.header.content"
    },
    {
      "type": "video",
      "id": "video",
      "label": "t:shared.settings.shopify_hosted_video.video.label",
      "info": "t:shared.settings.shopify_hosted_video.video.info"
    },
    {
      "type": "video",
      "id": "mobile_video",
      "label": "t:shared.settings.shopify_hosted_video.mobile_video.label",
      "info": "t:shared.settings.shopify_hosted_video.mobile_video.info"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.external_video.header.content"
    },
    {
      "type": "video_url",
      "id": "external_video_url",
      "label": "t:sections.video.settings.external_video.video_url.label",
      "accept": [
        "youtube",
        "vimeo"
      ],
      "default": "t:sections.video.settings.external_video.video_url.default"
    },
    {
      "type": "image_picker",
      "id": "external_video_poster",
      "label": "t:sections.video.settings.external_video.poster.label",
      "info": "t:sections.video.settings.external_video.poster.info"
    },
    {
      "type": "text",
      "id": "external_video_alt_text",
      "label": "t:sections.video.settings.external_video.alt_text.label",
      "info": "t:sections.video.settings.external_video.alt_text.info"
    },
    {
      "type": "header",
      "content": "t:sections.video.settings.video_options.header.content"
    },
    {
      "type": "select",
      "id": "aspect_ratio",
      "label": "t:sections.video.settings.video_options.aspect_ratio.label",
      "options": [
        {
          "value": "natural",
          "label": "t:shared.settings.aspect_ratio.options.natural"
        },
        {
          "value": "portrait",
          "label": "t:shared.settings.aspect_ratio.options.portrait"
        },
        {
          "value": "portrait-alt",
          "label": "t:shared.settings.aspect_ratio.options.portrait_alt"
        },
        {
          "value": "square",
          "label": "t:shared.settings.aspect_ratio.options.square"
        },
        {
          "value": "landscape-alt",
          "label": "t:shared.settings.aspect_ratio.options.landscape_alt"
        },
        {
          "value": "landscape",
          "label": "t:shared.settings.aspect_ratio.options.landscape"
        },
        {
          "value": "landscape-wide",
          "label": "t:shared.settings.aspect_ratio.options.landscape_wide"
        },
        {
          "value": "landscape-ultrawide",
          "label": "t:shared.settings.aspect_ratio.options.landscape_ultrawide"
        }
      ],
      "default": "natural",
      "info": "t:sections.video.settings.video_options.aspect_ratio.info"
    },
    {
      "type": "select",
      "id": "mobile_aspect_ratio",
      "label": "t:sections.video.settings.video_options.mobile_aspect_ratio.label",
      "options": [
        {
          "value": "natural",
          "label": "t:shared.settings.aspect_ratio.options.natural"
        },
        {
          "value": "portrait",
          "label": "t:shared.settings.aspect_ratio.options.portrait"
        },
        {
          "value": "portrait-alt",
          "label": "t:shared.settings.aspect_ratio.options.portrait_alt"
        },
        {
          "value": "square",
          "label": "t:shared.settings.aspect_ratio.options.square"
        },
        {
          "value": "landscape-alt",
          "label": "t:shared.settings.aspect_ratio.options.landscape_alt"
        },
        {
          "value": "landscape",
          "label": "t:shared.settings.aspect_ratio.options.landscape"
        },
        {
          "value": "landscape-wide",
          "label": "t:shared.settings.aspect_ratio.options.landscape_wide"
        },
        {
          "value": "landscape-ultrawide",
          "label": "t:shared.settings.aspect_ratio.options.landscape_ultrawide"
        }
      ],
      "default": "natural",
      "info": "t:sections.video.settings.video_options.mobile_aspect_ratio.info"
    },
    {
      "type": "select",
      "id": "video_focal_point",
      "label": "t:sections.video.settings.video_options.focal_point.label",
      "options": [
        {
          "value": "center",
          "label": "t:shared.options.video_focal_point.center"
        },
        {
          "value": "top",
          "label": "t:shared.options.video_focal_point.top"
        },
        {
          "value": "bottom",
          "label": "t:shared.options.video_focal_point.bottom"
        },
        {
          "value": "left",
          "label": "t:shared.options.video_focal_point.left"
        },
        {
          "value": "right",
          "label": "t:shared.options.video_focal_point.right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "mobile_video_focal_point",
      "label": "t:sections.video.settings.video_options.mobile_focal_point.label",
      "options": [
        {
          "value": "center",
          "label": "t:shared.options.video_focal_point.center"
        },
        {
          "value": "top",
          "label": "t:shared.options.video_focal_point.top"
        },
        {
          "value": "bottom",
          "label": "t:shared.options.video_focal_point.bottom"
        },
        {
          "value": "left",
          "label": "t:shared.options.video_focal_point.left"
        },
        {
          "value": "right",
          "label": "t:shared.options.video_focal_point.right"
        }
      ],
      "default": "center",
      "info": "t:sections.video.settings.video_options.mobile_focal_point.info"
    },
    {
      "type": "range",
      "id": "content_max_width",
      "min": 200,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "label": "t:shared.settings.max_width.content.label",
      "default": 500,
      "info": "t:shared.settings.max_width.info"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:sections.video.settings.content.alignment.label",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:shared.options.alignment.horizontal.left"
        },
        {
          "value": "center",
          "label": "t:shared.options.alignment.horizontal.center"
        },
        {
          "value": "right",
          "label": "t:shared.options.alignment.horizontal.right"
        }
      ]
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "t:sections.video.settings.content.position.label",
      "options": [
        {
          "value": "above",
          "label": "t:sections.video.settings.content.position.options.above"
        },
        {
          "value": "below",
          "label": "t:sections.video.settings.content.position.options.below"
        }
      ],
      "default": "above"
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_settings.header.content"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:shared.settings.section_settings.width.label",
      "options": [
        {
          "value": "narrow",
          "label": "t:shared.settings.section_settings.width.options.narrow"
        },
        {
          "value": "wide",
          "label": "t:shared.settings.section_settings.width.options.wide"
        },
        {
          "value": "page-width",
          "label": "t:shared.settings.section_settings.width.options.page_width"
        },
        {
          "value": "full-width",
          "label": "t:shared.settings.section_settings.width.options.full_width"
        },
        {
          "value": "full-width-padded",
          "label": "t:shared.settings.section_settings.width.options.full_width_padded"
        }
      ],
      "info": "t:shared.settings.section_settings.width.info",
      "default": "page-width"
    },
    {
      "type": "range",
      "id": "top_padding",
      "label": "t:shared.settings.section_settings.top_padding.label",
      "min": 0,
      "max": 120,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "t:shared.settings.section_settings.bottom_padding.label",
      "min": 0,
      "max": 120,
      "step": 10,
      "unit": "px",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "overline",
      "name": "t:shared.content_blocks.overline.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "t:shared.content_blocks.overline.settings.text.label",
          "default": "t:shared.content_blocks.overline.settings.text.default"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:shared.content_blocks.heading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:shared.content_blocks.heading.settings.heading.label",
          "default": "t:shared.content_blocks.heading.settings.heading.default"
        },
        {
          "type": "range",
          "id": "heading_font_size",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "t:shared.settings.text_size.label_heading",
          "info": "t:shared.settings.text_size.info",
          "default": 8
        },
        {
          "id": "heading_tag",
          "type": "select",
          "label": "t:shared.settings.heading_tag.label",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            },
            {
              "value": "h5",
              "label": "H5"
            },
            {
              "value": "h6",
              "label": "H6"
            }
          ],
          "info": "t:shared.settings.heading_tag.info",
          "default": "h2"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:shared.content_blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:shared.content_blocks.text.settings.text.label",
          "default": "t:sections.video.blocks.text.settings.text.default"
        },
        {
          "type": "range",
          "id": "text_font_size",
          "min": 1,
          "max": 8,
          "step": 1,
          "label": "t:shared.settings.text_size.label_text",
          "info": "t:shared.settings.text_size.info",
          "default": 3
        }
      ]
    },
    {
      "type": "button",
      "name": "t:shared.content_blocks.button.name",
      "settings": [
        {
          "type": "url",
          "id": "button_link",
          "label": "t:shared.content_blocks.button.settings.button_link.label"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "t:shared.content_blocks.button.settings.button_label.label",
          "info": "t:shared.content_blocks.button.settings.button_label.info",
          "default": "Button"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "t:shared.settings.button_style.label",
          "options": [
            {
              "value": "solid",
              "label": "t:shared.settings.button_style.options.solid"
            },
            {
              "value": "outline",
              "label": "t:shared.settings.button_style.options.outline"
            },
            {
              "value": "text",
              "label": "t:shared.settings.button_style.options.text"
            }
          ],
          "default": "solid"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:shared.content_blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:shared.content_blocks.image.settings.image.label"
        },
        {
          "type": "range",
          "id": "image_size",
          "label": "t:shared.content_blocks.image.settings.image_size.label",
          "info": "t:shared.content_blocks.image.settings.image_size.info",
          "min": 50,
          "max": 1000,
          "step": 10,
          "unit": "px",
          "default": 500
        },
        {
          "type": "range",
          "id": "image_size_mobile",
          "label": "t:shared.content_blocks.image.settings.image_size_mobile.label",
          "info": "t:shared.content_blocks.image.settings.image_size_mobile.info",
          "min": 50,
          "max": 1000,
          "step": 10,
          "unit": "px",
          "default": 250
        },
        {
          "type": "checkbox",
          "id": "enable_corner_radius",
          "default": true,
          "label": "t:shared.settings.image_rounding.enable_corner_radius.label",
          "info": "t:shared.settings.image_rounding.enable_corner_radius.info"
        }
      ]
    },
    {
      "type": "divider",
      "name": "t:shared.content_blocks.divider.name",
      "settings": [
        {
          "type": "range",
          "id": "thickness",
          "label": "t:shared.content_blocks.divider.settings.thickness.label",
          "min": 1,
          "max": 5,
          "step": 1,
          "unit": "px",
          "default": 1
        },
        {
          "type": "header",
          "content": "t:shared.content_blocks.divider.settings.desktop_spacing.header.content"
        },
        {
          "type": "range",
          "id": "space_above",
          "label": "t:shared.content_blocks.divider.settings.space_above.label",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "space_below",
          "label": "t:shared.content_blocks.divider.settings.space_below.label",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default": 20
        },
        {
          "type": "header",
          "content": "t:shared.content_blocks.divider.settings.mobile_spacing.header.content"
        },
        {
          "type": "range",
          "id": "space_above_mobile",
          "label": "t:shared.content_blocks.divider.settings.space_above.label",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default": 0
        },
        {
          "type": "range",
          "id": "space_below_mobile",
          "label": "t:shared.content_blocks.divider.settings.space_below.label",
          "min": 0,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default": 20
        }
      ]
    },
    {
      "type": "spacer",
      "name": "t:shared.content_blocks.spacer.name",
      "settings": [
        {
          "type": "range",
          "id": "space",
          "label": "t:shared.content_blocks.spacer.settings.space.label",
          "min": 1,
          "max": 50,
          "step": 1,
          "unit": "px",
          "default": 40
        },
        {
          "type": "range",
          "id": "space_mobile",
          "label": "t:shared.content_blocks.spacer.settings.space_mobile.label",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 40
        }
      ]
    },
    {
      "type": "liquid",
      "name": "t:shared.content_blocks.liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:shared.content_blocks.liquid.settings.custom_liquid.label",
          "info": "t:shared.content_blocks.liquid.settings.custom_liquid.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.video.presets.name",
      "blocks": [
        {
          "type": "heading",
          "settings": {
            "heading": "Video",
            "heading_font_size": 5
          }
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
